InformationsDeclarantServicesImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.cid.harasnationaux.fr" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.cid.harasnationaux.fr" xmlns:intf="http://services.cid.harasnationaux.fr" xmlns:tns1="http://soa.logicacmg.com" xmlns:tns2="http://util.java" xmlns:tns3="http://exception.cid.harasnationaux.fr" xmlns:tns4="http://exception.logicacmg.com" xmlns:tns5="http://core.springframework.org" xmlns:tns6="http://lang.java" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.cid.harasnationaux.fr" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://soa.logicacmg.com"/>
   <import namespace="http://util.java"/>
   <import namespace="http://exception.cid.harasnationaux.fr"/>
   <import namespace="http://core.springframework.org"/>
   <import namespace="http://exception.logicacmg.com"/>
   <import namespace="http://lang.java"/>
   <element name="getNbrNaissanceAnneeEnCours">
    <complexType>
     <sequence>
      <element name="login" type="xsd:string"/>
      <element name="ctx" type="tns1:Context"/>
     </sequence>
    </complexType>
   </element>
   <element name="getNbrNaissanceAnneeEnCoursResponse">
    <complexType>
     <sequence>
      <element name="getNbrNaissanceAnneeEnCoursReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="fault" type="tns3:CIDBusinessException"/>
   <element name="getNbrLieuDetention">
    <complexType>
     <sequence>
      <element name="login" type="xsd:string"/>
      <element name="ctx" type="tns1:Context"/>
     </sequence>
    </complexType>
   </element>
   <element name="getNbrLieuDetentionResponse">
    <complexType>
     <sequence>
      <element name="getNbrLieuDetentionReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getNbrChevaux">
    <complexType>
     <sequence>
      <element name="login" type="xsd:string"/>
      <element name="ctx" type="tns1:Context"/>
     </sequence>
    </complexType>
   </element>
   <element name="getNbrChevauxResponse">
    <complexType>
     <sequence>
      <element name="getNbrChevauxReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://soa.logicacmg.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://util.java"/>
   <import namespace="http://exception.cid.harasnationaux.fr"/>
   <import namespace="http://core.springframework.org"/>
   <import namespace="http://exception.logicacmg.com"/>
   <import namespace="http://lang.java"/>
   <complexType name="Context">
    <sequence>
     <element name="applicationID" nillable="true" type="xsd:string"/>
     <element name="locale" nillable="true" type="xsd:anyType"/>
     <element name="userID" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://core.springframework.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://soa.logicacmg.com"/>
   <import namespace="http://util.java"/>
   <import namespace="http://exception.cid.harasnationaux.fr"/>
   <import namespace="http://exception.logicacmg.com"/>
   <import namespace="http://lang.java"/>
   <complexType abstract="true" name="NestedCheckedException">
    <sequence>
     <element name="cause" nillable="true" type="xsd:anyType"/>
     <element name="message" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://exception.logicacmg.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://soa.logicacmg.com"/>
   <import namespace="http://util.java"/>
   <import namespace="http://exception.cid.harasnationaux.fr"/>
   <import namespace="http://core.springframework.org"/>
   <import namespace="http://lang.java"/>
   <complexType abstract="true" name="BusinessException">
    <complexContent>
     <extension base="tns5:NestedCheckedException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://exception.cid.harasnationaux.fr" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://soa.logicacmg.com"/>
   <import namespace="http://util.java"/>
   <import namespace="http://core.springframework.org"/>
   <import namespace="http://exception.logicacmg.com"/>
   <import namespace="http://lang.java"/>
   <complexType name="CIDBusinessException">
    <complexContent>
     <extension base="tns4:BusinessException">
      <sequence>
       <element name="code" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getNbrLieuDetentionResponse">

      <wsdl:part element="impl:getNbrLieuDetentionResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="CIDBusinessException">

      <wsdl:part element="impl:fault" name="fault"/>

   </wsdl:message>

   <wsdl:message name="getNbrNaissanceAnneeEnCoursResponse">

      <wsdl:part element="impl:getNbrNaissanceAnneeEnCoursResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getNbrNaissanceAnneeEnCoursRequest">

      <wsdl:part element="impl:getNbrNaissanceAnneeEnCours" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getNbrChevauxResponse">

      <wsdl:part element="impl:getNbrChevauxResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getNbrChevauxRequest">

      <wsdl:part element="impl:getNbrChevaux" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getNbrLieuDetentionRequest">

      <wsdl:part element="impl:getNbrLieuDetention" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="InformationsDeclarantServicesImpl">

      <wsdl:operation name="getNbrNaissanceAnneeEnCours">

         <wsdl:input message="impl:getNbrNaissanceAnneeEnCoursRequest" name="getNbrNaissanceAnneeEnCoursRequest"/>

         <wsdl:output message="impl:getNbrNaissanceAnneeEnCoursResponse" name="getNbrNaissanceAnneeEnCoursResponse"/>

         <wsdl:fault message="impl:CIDBusinessException" name="CIDBusinessException"/>

      </wsdl:operation>

      <wsdl:operation name="getNbrLieuDetention">

         <wsdl:input message="impl:getNbrLieuDetentionRequest" name="getNbrLieuDetentionRequest"/>

         <wsdl:output message="impl:getNbrLieuDetentionResponse" name="getNbrLieuDetentionResponse"/>

         <wsdl:fault message="impl:CIDBusinessException" name="CIDBusinessException"/>

      </wsdl:operation>

      <wsdl:operation name="getNbrChevaux">

         <wsdl:input message="impl:getNbrChevauxRequest" name="getNbrChevauxRequest"/>

         <wsdl:output message="impl:getNbrChevauxResponse" name="getNbrChevauxResponse"/>

         <wsdl:fault message="impl:CIDBusinessException" name="CIDBusinessException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="InformationsDeclarantServicesImplSoapBinding" type="impl:InformationsDeclarantServicesImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getNbrNaissanceAnneeEnCours">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNbrNaissanceAnneeEnCoursRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getNbrNaissanceAnneeEnCoursResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="CIDBusinessException">

            <wsdlsoap:fault name="CIDBusinessException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getNbrLieuDetention">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNbrLieuDetentionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getNbrLieuDetentionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="CIDBusinessException">

            <wsdlsoap:fault name="CIDBusinessException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getNbrChevaux">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNbrChevauxRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getNbrChevauxResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="CIDBusinessException">

            <wsdlsoap:fault name="CIDBusinessException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="InformationsDeclarantServicesImplService">

      <wsdl:port binding="impl:InformationsDeclarantServicesImplSoapBinding" name="InformationsDeclarantServicesImpl">

         <wsdlsoap:address location="http://80.124.158.237:8080/cid-services/services/InformationsDeclarantServicesImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
