WSNbEtalon.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://util.dps" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://util.dps" xmlns:intf="http://util.dps" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://util.dps" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getNbSurPlace">
    <complexType>
     <sequence>
      <element name="serv" type="xsd:string"/>
      <element name="nuPerso" type="xsd:string"/>
      <element name="anMonte" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getNbSurPlaceResponse">
    <complexType>
     <sequence>
      <element name="getNbSurPlaceReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getNbIA">
    <complexType>
     <sequence>
      <element name="serv" type="xsd:string"/>
      <element name="nuPerso" type="xsd:string"/>
      <element name="anMonte" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getNbIAResponse">
    <complexType>
     <sequence>
      <element name="getNbIAReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getNbSurPlaceResponse">

      <wsdl:part element="impl:getNbSurPlaceResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getNbSurPlaceRequest">

      <wsdl:part element="impl:getNbSurPlace" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getNbIAResponse">

      <wsdl:part element="impl:getNbIAResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getNbIARequest">

      <wsdl:part element="impl:getNbIA" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="WSNbEtalon">

      <wsdl:operation name="getNbSurPlace">

         <wsdl:input message="impl:getNbSurPlaceRequest" name="getNbSurPlaceRequest"/>

         <wsdl:output message="impl:getNbSurPlaceResponse" name="getNbSurPlaceResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getNbIA">

         <wsdl:input message="impl:getNbIARequest" name="getNbIARequest"/>

         <wsdl:output message="impl:getNbIAResponse" name="getNbIAResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WSNbEtalonSoapBinding" type="impl:WSNbEtalon">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getNbSurPlace">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNbSurPlaceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getNbSurPlaceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getNbIA">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNbIARequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getNbIAResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WSNbEtalonService">

      <wsdl:port binding="impl:WSNbEtalonSoapBinding" name="WSNbEtalon">

         <wsdlsoap:address location="http://localhost:8080/DPS_PRIVEES/services/WSNbEtalon"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
